<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>品牌管理</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
            width: 850px;
        }
        
        .container .form-inline {
            margin-bottom: 20px;
        }
        
        .table.table-bordered th,
        .table.table-bordered td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div class="container">
        <form class="form-inline">
            <div class="form-group">
                <label>名称</label>
                <input type="text" class="form-control" v-model="name">
            </div>
            <div class="form-group">
                <label>描述</label>
                <input type="text" class="form-control" v-model="desc" @keyup.enter.exact="fn">
            </div>
            <button type="button" class="btn btn-primary" @click="fn">添加</button>
            <div class="form-group">
                <label>描述</label>
                <input type="text" class="form-control" v-model="num" @keyup="chx">
            </div>
        </form>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th width="10%">序号</th>
                    <th width="20%">名称</th>
                    <th width="30%">描述</th>
                    <th width="30%">创建时间</th>
                    <th width="10%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="kis.length==0">
                    <td colspan="5">请输入一点内容</td>
                </tr>
                <tr v-for="item,i in chx()" :key="item.id" v-else :style="{backgroundColor: i%2==0?'#f1f1f1':'white'}">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.desc}}</td>
                    <td>{{item.time | myFilter}}</td>
                    <td><a href="#" @click.prevent="del(item.id)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/moment/moment.js"></script>
    <script src="node_modules/axios/dist/axios.js"></script>
    <script>
        // 过滤器
        Vue.filter("myFilter",(input,mis="YYYY-MM-DD HH:MM:SS")=>{
            return moment(input).format(mis)
        })
        // 初始化链接地址
        axios.defaults.baseURL = "http://localhost:5000";

        // 实例化Vue
        const mis =new Vue({
            el:".container",
            data:{
                name:"",
                desc:"",
                num:"",
                kis:[]
            },
            created(){
                this.fazi()
            },
            // 函数方法
            methods:{
                // 过滤器
                fazi(){
                    axios.get("/getBrandList").then(res=>{
                    this.kis=res.data.list;
                })
                },
                fn(){
                    // 验证是否为空
                    if((!this.name.trim()) || (!this.desc.trim())) return alert("小老弟你的输入不完整");

                    // this.kis.push({
                    //     id:this.kis.length,
                    //     name:this.name,
                    //     desc:this.desc,
                    //     date:new Date().getTime()
                    // });

                    // 添加车辆信息
                    axios.post("/addBrand",{
                        name : this.name,
                        desc : this.desc,
                        time : new Date().getTime()
                    }).then(res=>{
                        console.log(res);
                        this.fazi()
                    })
                    this.name = "",
                    this.desc =""
                },
                del(idx){
                    // let idx =this.kis.findIndex((item)=>item.id===id);
                    // this.kis.splice(idx,1)

                    // 删除车辆数据
                    axios.get("/deleteBrand",{
                        params:{
                            id:idx
                        }
                    }).then(res=>{
                        console.log(res);
                        this.fazi()
                    })
                },
                chx(){
                    return this.kis.filter((item)=>item.name.includes(this.num))
                }
                // chx(ids){
                //     axios.get("/getBrandInfo?",{
                //         params:{
                //             id:idx
                //         }
                //     }).then(res=>{
                //         this.kis.length=0;
                //         this.kis.push(res.data.list)
                        
                //     })
                // }
            }


        })
    </script>
</body>

</html>